git+https://github.com/pyrogram/pyrogram@master
TgCrypto==1.2.2
py-tgcalls==0.8.0
python-dotenv
yt-dlp
youtube_search_python
pytube
youtube_search
requests
sqlalchemy==1.3.23
psycopg2-binary 
ffmpeg-python
moviepy